<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteStreammingSilvio0405</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteStreammingSilvio0405.styles.css" asp-append-version="true" />
</head>
<body>
    
    <header>
        <nav class="flex-div">
            
            <div class="nav-left flex-div" >

                <img class="menu-icon" src="~/arq/menu.png" />
                <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/arq/logo.png"/></a>
                
            </div>
            <div class="nav-middle flex-div">
                <div  class="search-box flex-div">
                    <input type="text" placeholder="Procurar" />
                    <img src="~/arq/search.png" />
                </div>
                <img src="~/arq/voice-search.png" class="mic-icon" >
            </div>
            <div class="nav-right flex-div">
               <a asp-controller="Streammings" asp-action="Index"><img src="~/arq/upload.png"/></a>
                <img src="~/arq/more.png"/>
                <img src="~/arq/notification.png" />
                <img class="user-icon" src="~/arq/tyler4.png">
               
            </div>
        
         </nav>




       
    </header>
     
    <div class="container-player">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
